

.navigation {
    &-list {
        &-item {
            color: $white;
        }
        
        &-link {
            color: $white;

            &.active {
                color: $white-300;
            }
        }
    }
}

.site {
    &-footer {
        display: none;
    }
    
    &-header {
        
    }

    &-logo {
        margin-left: 50%;
        text-align: center;
        transform: translateX(-50%);
        width: 48px;
    }
}
